<%= render "header" %>

<hr>

<% @quotes.each do |q| %>
<% if q.origin.match /irc|IRC/ %>
  <!-- I know it's 2018 -->
  <marquee bgcolor="black" style="color:#90FF00"><%= q.render %></marquee>
<% else %>
  <div class="quote"><%= q.render %></div>
<% end %>

<hr>
<% end %>