<%= render "header" %>

<br></br>

<% @quotes.each do |q| %>

<div class="container-fluid">
  <% if q.origin.match /irc|IRC/ %>
    <!-- I know it's 2018 -->
    <marquee bgcolor="black" style="color:#90FF00"><%= q.render %></marquee>
  <% else %>
    <div class="quote blockquote"><%= q.render %></div>
    <footer class="blockquote-footer"><%= q.author.blank? ? "anonymous" : q.author %></footer>
  <% end %>
</div>

<hr></hr>
<% end %>